.select
  .select__window
    = form_tag(@genre_search_path, method: :get, id: "select-form" ) do
      = select_tag :search_genre_name, options_for_select(@genre_tags), class: "select-btn", prompt: "ジャンルを選択してください"
