.search-window
  = form_tag('#', method: :get, class: "search-form" ) do
    = text_field_tag :search, nil, placeholder: "キーワードを入力", class: "s-window"
    = button_tag type: "submit", class: "s-submit" do
      = fa_icon "search"

