$white: #FFFFFF;
$blue: #0000FF;
$dark-gray: #333333;
$cyan-blue: #38AEF0;
$orange: #FFA500;
$accent: #57C3E9;
$lamp-black: #282828;
$dark: #666;
$gray: #D8D8D8;
$lightGray: #f5f5f3;
$lightYellow: #F3F781;
$lightGrayishOrange: #F6F4D5;
$red: #FF0000;
$black: #000000;
$yellow: #FFFF00;
$wine-red: #C15757;
$twitter: #55acee;
$facebook: #3B5998;
