- if @pay_regi_status == 0
  .a-create__title
    無料アカウント登録
  .a-create__route
    %p.now
      ユーザー情報
    %p
      >>
    %p
      メール認証
    %p
      >>
    %p
      登録完了
    %hr
- else
  .a-create__title
    プレミアムアカウント登録
  .a-create__route
    %p.now
      ユーザー情報
    %p
      >>
    %p
      メール認証
    %p
      >>
    %p
      支払情報登録
    %p
      >>
    %p
      登録完了
    %hr
