.main{
  padding-top: 0px;
  background-color: $white;
  text-align: center;
  &__logo{
    margin: 0 auto;
    width: 100%;
    height: auto;
    position: relative;
    background-color: $black;
    .top-slide {
      display: none;
    }
    #bg-video {
      width: 100%;
      height: auto;
      display: block;
      height: auto;
    }
    &__btn{
      position:absolute;
      left: 5%;
      bottom: 40%;
      text-align: left;
      padding: 1%;
      h1{
        text-align: left;
        color: $white;
        font-weight: bold;
        font-size: 30px;
      }
      a{
        margin-top: 4%;
        display: inline-block;
        color: $white;
        background: -moz-linear-gradient( left, $orange, $cyan-blue);
        background: -webkit-linear-gradient( left, $orange, $cyan-blue);
        background: linear-gradient( -135deg, $orange, $cyan-blue);
        padding: 2%;
        border-radius: 10px;
        font-size: 20px;
      }

    }
  }
  &__content{
    padding-top: 3%;
    padding-bottom: 3%;
    &__box{
      width: 95%;
      height: auto;
      margin: 0 auto;
      text-align: left;
      &__title{
        text-align: center;
        font-size: 2vw;
        font-weight: bold;
        a{
          font-size: 13px;
          font-weight: normal;
        }
      }
      &__list{
        overflow: hidden;
        &__video{
          height: auto;
        }
        &__article{
          height: auto;
        }
      }
    }
  }
  &__account-create{
    padding-top: 10px;
    padding-bottom: 50px;
    height: auto;
    &__btn{
      margin: 0 auto;
      a{
        display: inline-block;
        color: $white;
        line-height: 50px;
        background: -moz-linear-gradient( left, $orange, $cyan-blue );
        background: -webkit-linear-gradient( left, $orange, $cyan-blue );
        background: linear-gradient(-135deg, $orange, $cyan-blue );
        box-shadow: 2px 4px 10px rgba(0,0,0,0.5);
        border-radius: 10px;
        font-weight: bold;
        padding-left: 5%;
        padding-right: 5%;
      }
      a:hover {
        box-shadow: 4px 8px 20px rgba(0,0,0,0.1);
        opacity: 0.7;
      }
      .premium{
        background-color: $red;
      }
    }
  }
}

/* smartphone.css.scss */
@media screen and (-webkit-min-device-pixel-ratio:0) and (max-width: 1024px){
  _::-webkit-full-page-media, _:future, :root body {
    .main{
      &__logo{
        .top-slide {
          display: block;
          width: 95%;
          margin: 0 auto;
          &__box{
            height: auto;
            background-color: #fff;
            img{
              width: 100%;
              height: auto;
            }
          }
        }
        #bg-video {
          display: none !important;
        }
      }
    }
  }
}
@media screen and (max-width: 930px){
  .main{
    &__logo{
      #bg-video {
        display: none !important;
      }
      .top-slide {
        display: block;
        width: 95%;
        margin: 0 auto;
        &__box{
          height: auto;
          background-color: #fff;
          img{
            width: 100%;
            height: auto;
          }
        }
      }
      &__btn{
        bottom: 30%;
      }
    }
    &__account-create{
      font-size: 15px;
      a{
        box-shadow: 1px 2px 3px rgba(0,0,0,0.5);
        line-height: 30px;
        border-radius: 5px;
        padding-top: 5px;
        padding-bottom: 5px;
      }
    }
  }
}
@media screen and (max-width: 640px){
  .main{
    &__logo{
      &__btn{
        bottom: 29%;
        h1{
          font-size: 16px;
        }
        a{
          font-size: 15px;
          border-radius: 5px;
        }
      }
    }
    &__content{
      &__box{
        &__title{
          font-size: 4.5vw;
        }
      }
    }
    &__account-create{
      width: 95%;
      margin: 0 auto;
    }
  }
}
