.main{
  padding-top: 20px;
  background-color: $white;
  text-align: center;
  margin: 0 auto;
  max-width: 1200px;
  @include clearfix();
  &__logo{
    margin: 0 auto;
    width: 100%;
    position: relative;
    &__img{
      display: none;
    }
    &__btn{
      position:absolute;
      left: 5%;
      top: 20%;
      text-align: left;
      padding: 1%;
      z-index: 2;
      h1{
        text-align: left;
        color: $white;
        font-weight: bold;
        font-size: 30px;
      }
      a{
        margin-top: 4%;
        display: inline-block;
        color: $white;
        background: -moz-linear-gradient( left, $orange, $cyan-blue);
        background: -webkit-linear-gradient( left, $orange, $cyan-blue);
        background: linear-gradient( -135deg, $orange, $cyan-blue);
        padding: 2%;
        border-radius: 10px;
        font-size: 20px;
      }
    }
    &__frame{
      position:absolute;
      left: 5%;
      bottom: -20px;
      text-align: center;
      padding: 1%;
      z-index: 2;
      display: inline-block;
      border-bottom-left-radius: 15px;
      border-top-right-radius: 25px;
      background: white;
      background: rgba(255,255,255,1);
      font-weight: bold;
      font-family: "M PLUS Rounded 1c";
      border: 2px solid orange;
      box-shadow: 4px 8px 10px rgba(0,0,0,0.3);
      img{
        width: 400px;
        height: auto;
      }
    }
    .top-slide {
      display: block;
      width: 85%;
      margin: 0 auto;
      &__box{
        height: auto;
        max-height: 500px;
        background-color: #000;
        text-align: center;
        border-bottom-right-radius: 50px;
        border-top-left-radius: 50px;
        overflow: hidden;
        img{
          width: 100%;
          height: 500px;
          object-fit: cover;
        }
        &__title{
          position: absolute;
          top: 0;
          right: 0;
          display: inline-block;
          max-width: 650px;
          background: rgba(0,0,0,0.5);
          color: white;
          text-align: left;
          padding: 5px;
          border-bottom-left-radius: 5px;
          span{
            font-size: 20px;
          }
        }
      }
    }
  }
  &__content{
    width: 78%;
    margin: 0 auto;
    padding-top: 3%;
    padding-bottom: 3%;
    float: left;
    &__box{
      width: 95%;
      height: auto;
      margin: 0 auto;
      text-align: left;
      &__title{
        text-align: center;
        font-size: 2vw;
        font-weight: bold;
        a{
          font-size: 13px;
          font-weight: normal;
        }
        span{
          display: flex;
          align-items: center;
          vertical-align: top;
          .icon{
            font-size: 16px;
            top: -2px;
          position: relative;
          }
        }
        span:before, span:after {
          content: "";
          flex-grow: 1;
          height: 1px; /* 線の太さを変えたいときはここを変える */
          background: $gray; /* 線の色を変えたいときはここを変える */
          margin: 2em; /* 文字と線の余白用 なくても良い */
        }
      }
      &__list{
        overflow: hidden;
        &__title{
          margin-top: 20px;
          font-weight: bold;
        }
        &__video{
          height: auto;
        }
        &__article{
          height: auto;
          .no-bottom-border{
            border-bottom: 0px;
          }
        }
      }
      &__more{
        padding-top: 30px;
        text-align: right;
      }
    }
  }
  &__sub-content{
    width: 20%;
    float: left;
    padding-top: 70px;
    text-align: left;
    .title{
      border-bottom: 1px solid $gray;
      margin-bottom: 20px;
    }
  }
  &__account-create{
    padding-top: 10px;
    padding-bottom: 50px;
    height: auto;
    &__btn{
      margin: 0 auto;
      a{
        display: inline-block;
        color: $white;
        line-height: 50px;
        background: -moz-linear-gradient( left, $orange, $cyan-blue );
        background: -webkit-linear-gradient( left, $orange, $cyan-blue );
        background: linear-gradient(-135deg, $orange, $cyan-blue );
        box-shadow: 2px 4px 10px rgba(0,0,0,0.5);
        border-radius: 10px;
        font-weight: bold;
        padding-left: 5%;
        padding-right: 5%;
      }
      a:hover {
        box-shadow: 4px 8px 20px rgba(0,0,0,0.1);
        opacity: 0.7;
      }
      .premium{
        background-color: $red;
      }
    }
  }
}

/* smartphone.css.scss */
@media screen and (-webkit-min-device-pixel-ratio:0) and (max-width: 1024px){
  _::-webkit-full-page-media, _:future, :root body {
    .main{
      &__logo{
        .top-slide {
          display: block;
          width: 95%;
          margin: 0 auto;
          &__box{
            height: auto;
            background-color: #fff;
            img{
              width: 100%;
              height: auto;
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: 930px){
  .main{
    &__logo{
      .top-slide {
        display: block;
        width: 95%;
        margin: 0 auto;
        &__box{
          max-height: 400px;
          img{
            height: 400px;
          }
        }
      }
      &__btn{
        bottom: 30%;
      }
    }
    &__account-create{
      font-size: 15px;
      a{
        box-shadow: 1px 2px 3px rgba(0,0,0,0.5);
        line-height: 30px;
        border-radius: 5px;
        padding-top: 5px;
        padding-bottom: 5px;
      }
    }
    &__content{
      width: 96%;
    }
    &__sub-content{
      display: none;
    }
  }
}
@media screen and (max-width: 640px){
  .main{
    &__logo{
      margin-bottom: 30px;
      &__frame{
        font-size: 14px;
        img{
          width: 160px;
          height: auto;
        }
      }
      .top-slide {
        display: block;
        width: 95%;
        margin: 0 auto;
        &__box{
          max-height: 200px;
          img{
            height: 200px;
          }
          &__title{
            display: none;
            font-size: 12px;
            max-width: 280px;
            span{
              font-size: 14px;
            }
          }
        }
      }
      &__btn{
        left: 0%;
        right: 0%;
        bottom: 30%;
        text-align: center;
        h1{
          font-size: 16px;
          text-align: center;
        }
        a{
          margin-top:40px;
          font-size: 15px;
          border-radius: 5px;
        }
      }
    }
    &__content{
      &__box{
        &__title{
          font-size: 4.5vw;
        }
      }
    }
    &__account-create{
      width: 95%;
      margin: 0 auto;
    }
  }
}
