.pay-frame{
  width: 60%;
  max-width: 450px;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 250px;
  padding-bottom: 10px;
  &__title{
    font-size: 20px;
    font-weight:bold;
    padding: 1%;
    background: -moz-linear-gradient( left, $lightGray, $white);
    background: -webkit-linear-gradient( left, $lightGray, $white);
    background: linear-gradient( -135deg, $lightGray, $white);
    text-align: center;
    margin-bottom: 20px;
  }
  &__select{
    margin: 0 auto;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    background-color: $white;
    border-radius: 10px;
    p{
      padding-bottom: 50px;
    }
  }
  &__back{
    padding-top: 10px;
    padding-left: 5%;
    text-align: left;
  }
  &__complete{
    text-align: center;
    background-color: $white;
    border-radius: 10px;
    height: auto;
    padding-bottom: 10px;
    &__title{
      font-size: 20px;
      font-weight:bold;
      padding-top: 30px;
      padding-bottom: 30px;
    }
    &__btn{
      margin: 0 auto;
      margin-top: 20px;
      margin-bottom: 20px;
      width: 70%;
      a{
        color: white;
        padding: 10px;
        border-radius: 5px;
        background-color: $orange;
        box-shadow: 1px 2px 5px rgba(0,0,0,0.7);
        font-size: 15px;
      }
      a:hover{
        opacity: 0.7;
      }
    }
    &__magazine{
      img{
        width: 200px;
      }
      .magazine_img{
        width: 100px;
      }
    }
  }
  .error_alert{
    font-size: 8px;
  }
}

/* smartphone.css.scss */
@media screen and (max-width: 640px){
  .pay-frame{
    width: 100%;
    &__title{
      font-size: 18px;
    }
    &__select{
      font-size: 15px;
      width: 95%;
    }
    &__complete{
      &__title{
        font-size: 15px;
      }
      &__btn{
        a{
          padding: 2%;
          font-size: 15px;
        }
      }
    }
  }
}
