.c-list
  .c-list__box
    = link_to 'chef_search_video/1' do
      .c-list__box__content
        .c-list__box__content__image
          = image_tag "chef.jpg",size: "108x162", alt: "point"
        .c-list__box__content__explain
          .c-list__box__content__explain__name
            = "荒木清成 "
          .c-list__box__content__explain__profile
            = "日本料理専門調理師。\n中小企業診断士。"

