- if user_signed_in?
  %table.none-blur
    %tr
      %th
        食材名
      %th
        分量
    - @video.recipes.each do |r|
      %tr
        %td
          = r.food
        %td
          = r.amount
- else
  %table.blur
    .blur__prompt-make-account
      %p
        メルマガ会員の方は
      %p
        レシピ閲覧ができます
      = link_to users_path, class: "account-btn" do
        メルマガ会員登録
    %tr
      %th
        食材名
      %th
        分量
    %tr
      %td
        柿
      %td
        2個
    %tr
      %td
        上白糖
      %td
        70g
    %tr
      %td
        塩
      %td
        少々
    %tr
      %td
        薄口醤油
      %td
        少々
    %tr
      %td
        ポン酢
      %td
        少々
