.v-search
  .v-search__title
    料理人検索
  .v-search__result
    = render 'share/search-window'
    .v-search__result__recommend
      = render 'recommend_chef_genre_list'
    = render 'share/search-header'
    = render 'chef_list'
