.v-search
  .v-search__title
    ジャンル検索
  .v-search__result
    .pc-only
      = render 'share/tag-list'
    = render 'share/genre-select'
    = render 'share/search-header'
    = render 'search-list'
