.v-search
  .v-search__title
    ジャンル検索
  .v-search__result
    .pc-only
      = render 'share/tag-list', tags: @recommned_tags
    = render 'share/genre-select'
    = render 'share/search-header', result: @videos
    = render 'search-list'
