.mail-magazine-special
  %span
    COOK LAB.
  %br
  メルマガ会員だけの特典！
%table
  %tr
    %th.none_cell
    %th
      無料会員
    %th
      有料会員
  %tr
    %th
      ご利用料金
    %td
      0円
    %td
      %span
        300
      %span
        円
      %span
        (税抜き)
  %tr
    %th
      動画視聴
    %td
      見放題
    %td
      見放題
  %tr
    %th
      お気に入り登録
      %span.supText
        ※1
    %td
      15件まで
    %td
      %span
        100
      %span
        件まで
  %tr
    %th
      レシピ閲覧
    %td
      ○
    %td
      ○
  %tr
    %th
      メルマガ配信
      %span.supText
        ※2
    %td
      ○
    %td
      ○
  %tr
    %th
      %span
        月刊 COOK LAB.
        %br
        定期購読サービス
      %br
        = image_tag "cooklab_magazine.jpg", alt: "cooklab_magazine"
    %td
      ×
    %td
      ○
      %span.supText
        ※3
%ul.notification_list
  %li
    ※1: 動画および記事それぞれに対して有効な登録上限数となります。
  %li
    ※2: 新着動画・記事情報を 月４回程度を目処に配信。
  %li
    ※3: ご指定の住所に冊子をお届けするため、住所登録が必要となります。
  / %tr
  /   %td
  /     特典②
  /   %td
  /     新着動画・記事情報をお届け！
  /     %br
  /     (※月４回程度配信)
  /     %br
  /     = image_tag "cooklab-mailmagazine.png", size: "214x214", alt: "cooklab"
  / %tr
  /   %td
  /     特典③
  /   %td
  /     動画/記事のお気に入り登録
  /     %br
  /     (※15動画/15記事まで)
    




