%table
  / %tr
  /   %th{colspan: "3"}
  /     アカウント別利用可能サービス一覧
  %tr
    %th
      基本情報
    %th
      無料
      %br/
      アカウント
    %th
      プレミアム
      %br/
      アカウント
  %tr
    %td
      基本料金
    %td
      0円
    %td
      %span
        980
      円/月
  %tr
    %td
      動画視聴
    %td
      従量課金
    %td
      %span
        見放題
  %tr
    %td
      お気に入り登録
    %td
      ◯
    %td
      ◯
  %tr
    %td
      レシピ閲覧
    %td
      ◯
    %td
      ◯
  %tr
    %td
      記事閲覧
    %td
      ◯
    %td
      ◯
