/ %table
/   %tr
/     %th
/       基本情報
/     %th
/       %p
/         無料
/       %p
/         アカウント
/     %th
/       %p
/         プレミアム
/       %p
/         アカウント
/   %tr
/     %td
/       基本料金
/     %td
/       0円
/     %td
/       %span
/         1,280
/       円/月
/   %tr
/     %td
/       動画視聴
/     %td
/       一部有料
/     %td
/       %span
/         見放題
/   %tr
/     %td
/       お気に入り登録
/     %td
/       ◯
/     %td
/       ◯
/   %tr
/     %td
/       レシピ閲覧
/     %td
/       ◯
/     %td
/       ◯
/   %tr
/     %td
/       記事閲覧
/     %td
/       ◯
/     %td
/       ◯


%table
  %tr
    %th
      基本情報
  %tr
    %td
      基本料金
  %tr
    %td
      動画視聴
  %tr
    %td
      %p
        お気に入り
      %p
        登録
  %tr
    %td
      レシピ閲覧
  %tr
    %td
      記事閲覧


%table.big-table
  %tr
    %th
      %p
        無料
      %p
        アカウント
  %tr
    %td
      %span
        0円
  %tr
    %td
      一部有料
  %tr
    %td
      ◯
  %tr
    %td
      ◯
  %tr
    %td
      ◯

%table
  %tr
    %th
      %p
        プレミアム
      %p
        アカウント
  %tr
    %td
      1,280
      円/月
  %tr
    %td
      見放題
  %tr
    %td
      ◯
  %tr
    %td
      ◯
  %tr
    %td
      ◯





