.mail-magazine-special
  %span
    COOK LAB.
  %br
  メルマガ会員だけの特典！
%table
  %tr
    %td
      特典①
    %td
      料理動画のレシピを公開！
  %tr
    %td
      特典②
    %td
      新着動画・記事情報をお届け！
      %br
      (※月４回程度配信)
      %br
      = image_tag "cooklab-mailmagazine.png", size: "214x214", alt: "cooklab"
  %tr
    %td
      特典③
    %td
      動画/記事のお気に入り登録
      %br
      (※15動画/15記事まで)
    




