%table
  %tr
    %th{colspan: "3"}
      アカウント別利用可能サービス一覧
  %tr
    %td

    %td
      無料
      %br/
      アカウント
    %td
      プレミアム
      %br/
      アカウント
  %tr
    %td
      ご利用料金
    %td
      0円
    %td
      月額980円
  %tr
    %td
      動画視聴
    %td
      見放題
    %td
      見放題
  %tr
    %td
      お気に入り登録
    %td
      5件
    %td
      無制限
  %tr
    %td
      レシピ閲覧
    %td
      ×
    %td
      ◯
  %tr
    %td
      特集記事閲覧
    %td
      ◯
    %td
      ◯
