.notification
  - @notices.each do |notice|
    .notification__date
      = adjust_created_at(notice.created_at)
    .notification__title
      = notice.title
    .notification__content
      = adjust_brank_text(notice.message)
