%table
  %tr
    %td
      支払い方法
    %td
      クレジットカード
  %tr
    %td
      ご登録のクレジットカード
    %td
      = image_tag "Visa.png",size: "40x25"
  %tr
    %td
      カード下４桁
    %td
      0022
  %tr
    %td
      有効期限
    %td
      08/2028

