.payment__box
  .payment__box__date
    2018/10/30
  .payment__box__detail
    %table
      %tr
        %td
          小計
        %td
          ¥1000
      %tr
        %td
          税額
        %td
          ¥80
      %tr
        %td
          合計
        %td
          ¥1080
