%table
  %tr
    %td
      勤務先
    %td
      個店の飲食店
  %tr
    %td
      職種
    %td
      調理スタッフ
  %tr
    %td
      専門分野
    %td
      寿司
  %tr
    %td
      勤務先の所在地
    %td
      東京都(23区)
  %tr
    %td
      性別
    %td
      男性
  %tr
    %td
      生年月日
    %td
      1994/6/3
  %tr
    %td
      メールアドレス
    %td
      abcabscscscsc@test.co.jp
