.a-create
  .a-create__title
    = image_tag "user_icon.png",size: "30x30"
    アカウント作成
  .a-create__select
    = link_to new_registration_path(resource_name) do
      .a-create__select__box
        .a-create__select__box-title
          %p
            無料
          %p
            アカウント
        を作成する
    = link_to new_registration_path(resource_name) do
      .a-create__select__box
        .a-create__select__box-title
          %p
            プレミアム
          %p
            アカウント
        を作成する
  .a-create__plan
    = render 'account-plan'




