.a-create
  .a-create__title
    = image_tag "user_icon.png",size: "30x30"
    アカウント登録
  .a-create__select
    = link_to new_user_regist_path('free') do
      .a-create__select__box
        .a-create__select__box-title
          %p
            無料
          %p
            アカウント
        を登録する
    = link_to new_user_regist_path('premium') do
      .a-create__select__box
        .a-create__select__box-title
          %p
            プレミアム
          %p
            アカウント
        を登録する
  .a-create__plan
    = render 'account-plan'




