.c-list{
  margin-top: 10px;
  @include clearfix();
  &__box{
    height: 162px;
    width: 240px;
    margin: 0px 20px 20px;
    overflow: hidden;
    float: left;
    &__content{
      padding-left: 0px;
      &__image{
        width:50%;
        float: left;
        img{
          border-radius: 5px;
          width: 108px;
          height: auto;
        }
      }
      &__explain{
        width:50%;
        float: left;
        &__name{
          font-weight: bold;
          padding-left: 10px;
        }
        &__profile{
          padding-left: 15px;
          font-size: 14px;
          display: -webkit-box;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 6;
          overflow: hidden;
        }
      }
    }
    &:hover{
      opacity: 0.7;
    }
  }
}
.c-detail{
  padding: 40px 0;
  &__box{
    margin: 0 auto;
    width: 90%;
    height: auto;
    &__content{
      padding-left: 0px;
      @include clearfix();
      &__image{
        width:20%;
        min-width: 80px;
        max-width: 120px;
        float: left;
        img{
          width: 100%;
          border-radius: 5px;
          height: auto;
        }
      }
      &__explain{
        width: 80%;
        float: left;
        &__name{
          font-weight: bold;
          padding-left: 4%;
          span{
            font-size: 12px;
          }
        }
        &__profile{
          margin-left: 4%;
          padding-left: 2%;
          font-size: 14px;
          border-bottom: 1px solid $gray;
        }
      }
      &__history{
        float: right;
        width: 72%;
        padding-top: 10px;
        padding-right: 5%;
        padding-left: 2%;
        font-size: 14px;
        text-align: justify;
        text-justify: inter-ideograph;
        .text{
          padding-left: 1%;
        }
      }
    }
  }
}

/* smartphone.css.scss */
@media screen and (max-width: 640px){
  .c-list{
    margin: 0 auto;
    margin-top: 20px;
    &__box{
      display: inline-block;
      margin: 0px;
      margin: 0 auto;
      margin-bottom: 10px;
      float: none;
      width: 90%;
      height: auto;
      padding-left: 6%;
      &__content{
        padding-left: 5%;
        &__image{
          min-width: 70px;
          width: 37%;
        }
        &__explain{
          padding-left: 4%;
          max-width: 60%;
          &__name{
            font-size: 15px;
          }
          &__profile{
            font-size: 13px;
          }
        }
      }
    }
  }
  .c-detail{
    width: 100%;
    padding-left: 0px;
    &__box{
      padding-left: 0px;
      &__content{
        padding-left: 0px;
        &__image{
          min-width: 70px;
          width: 30%;
        }
        &__explain{
          margin-left: 2%;
          float: left;
          width: 67%;
          &__name{
            span{
              display: block;
            }
          }
        }
        &__history{
          width: 100%;
          padding-left: 2%;
          padding-right: 1%;
        }
      }
    }
  }
}
