.v-s-list{
  margin-top: 10px;
  &__box{
    height: auto;
    padding: 0 2% 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid $lightGray;
    @include clearfix();
    &__thumbnail{
      background-color: $white;
      position: relative;
      width:23%;
      min-width: 100px;
      height: auto;
      float: left;
      img{
        max-width: 100%;
        height: auto;
        -moz-transition: -moz-transform 0.5s linear;
        -webkit-transition: -webkit-transform 0.5s linear;
        -o-transition: -o-transform 0.5s linear;
        -ms-transition: -ms-transform 0.5s linear;
        transition: transform 0.5s linear;
      }
      img:hover {
        -webkit-transform: scale(1.1);
        -moz-transform: scale(1.1);
        -o-transform: scale(1.1);
        -ms-transform: scale(1.1);
        transform: scale(1.1);
      }
      .new-icon{
        font-size:0;
        position: absolute;/*絶対配置*/
        top: 0;
        right: 0;
      }
    }
    &__detail{
      width: 77%;
      float: left;
      font-size: 16px;
      overflow: hidden;
      padding-bottom: 10px;
      &__title{
        font-weight: bold;
        padding-left: 3%;
        p{
          display: -webkit-box;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 2;
          overflow: hidden;
        }
      }
      &__description{
        color: $dark-gray;
        padding-left: 4%;
        p{
          display: -webkit-box;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 3;
          overflow: hidden;
        }
      }
      &__sub-info{
        text-align: right;
        padding-top: 10px;
        .like{
          display: inline-block;
          border-right: 1px solid $gray;
          padding-right: 3%;
          color: $orange;
        }
        .chef{
          display: inline-block;
          border-right: 1px solid $gray;
          padding-right: 3%;
        }
        .date{
          display: inline-block;
        }
      }
    }
    &:hover{
      opacity: 0.7;
      a{
        color: $dark;
      }
    }
    &__tag{
      text-align: left;
      width: 100%;
      &__title{
        display: inline-block;
        letter-spacing: 0.05em;
      }
      &__list{
        display: inline-block;
        min-width: 85%;
      }
    }
  }
}

/* smartphone.css.scss */
@media screen and (max-width: 500px){
  .v-s-list{
    margin: 0 auto;
    margin-top: 30px;
    width: 98%;
    &__box{
      padding-left: 0;
      &__thumbnail{
        width: 100%;
        img:hover {
          -webkit-transform: scale(1.0);
          -moz-transform: scale(1.0);
          -o-transform: scale(1.0);
          -ms-transform: scale(1.0);
          transform: scale(1.0);
        }
      }
      &__detail{
        width: 100%;
        font-size: 3.6vw;
        &__sub-info{
          font-size: 3.5vw;
          .like{
            padding-right: 0px;
            border: none;
          }
          .chef{
            padding-right: 0px;
            border: none;
          }
          .date{
            border-right: 1px solid $gray;
            border: none;
          }
          img{
            width: 4%;
            height: auto;
          }
        }
      }
    }
  }
}
