.video{
  margin: 0 auto;
  margin-top:50px;
  margin-bottom:50px;
  padding-right: 5%;
  padding-left: 5%;
  width: 90%;
  max-width: 1100px;
  padding-left: 50px;
  border-radius: 10px;
  @include clearfix();
  &__title{
    font-size: 25px;
    font-weight:bold;
    line-height: 25px;
    padding: 20px;
    margin-bottom: 30px;
    background: linear-gradient(-135deg, $lightGray, $white);
    span{
      font-size: 15px;
    }
  }
  &__view{
    background-color: $white;
    border-radius: 10px;
    padding-top: 10px;
    margin-bottom: 30px;
    @include clearfix();
    &__vimeo{
      padding: 10px;
      text-align: center;
      border-right: 1px solid $gray;
      margin-right: 2%;
      float: left;
      width: 57%;
      color: $white;
      img{
        width: 100%;
        height: auto;
      }
      .video-pay{
        background-color: $black;
        width: 100%;
        height: 100%;
        max-height:360px;
        padding: 20% 0;
      }
      .login-alert{
        background-color: $black;
        width: 100%;
        height: 100%;
        max-height:360px;
        padding: 12% 0;
        &__signup{
          padding-bottom: 40px;
        }
      }
    }
    &__play-list{
      float: left;
      width: 38%;
      max-height: 370px;
      overflow: scroll;
    }
  }
}
.account-btn{
  cursor: pointer;
  margin-top: 4%;
  display: inline-block;
  color: $white;
  letter-spacing: 0px;
  background: -moz-linear-gradient( left, $orange, $cyan-blue);
  background: -webkit-linear-gradient( left, $orange, $cyan-blue);
  background: linear-gradient( -135deg, $orange, $cyan-blue);
  padding: 1% 5px;
  border-radius: 5px;
  font-size: 15px;
}

/* smartphone.css.scss */
@media screen and (max-width: 930px){
  .video{
    margin: 0 auto;
    margin-top:20px;
    margin-bottom:30px;
    padding-right: 1%;
    padding-left: 1%;
    width: 98%;
    border-radius: 10px;
    @include clearfix();
    &__title{
      float: none;
      display: block;
      padding-top: 20px;
      margin: 0 auto;
      margin-bottom: 30px;
    }
    &__view{
      margin: 0 auto;
      margin-bottom: 10px;
      padding-top: 30px;
      width: 100%;
      &__vimeo{
        float: none;
        padding: 0;
        width: 80%;
        text-align: center;
        border-right: 0px solid $gray;
        margin: 0 auto;
      }
      &__play-list{
        float: none;
        width: 98%;
        padding: 1%;
      }
    }
  }
}
@media screen and (max-width: 640px){
  .video{
    margin-bottom: 10px;
    &__title{
      font-size: 17px;
      margin-bottom: 10px;
      span{
        font-size: 12px;
      }
    }
    &__view{
      &__vimeo{
        width: 100%;
      }
      .video-pay{
        font-size: 13px;
      }
      .login-alert{
        font-size: 13px;
        &__signup{
          padding-bottom: 20px;
        }
        a{
          font-size: 13px;
          border-radius: 5px;
        }
      }
    }
  }
}
