.v-list{
  margin-top: 10px;
  @include clearfix();
  &__box{
    height: auto;
    width: 100%;
    margin-bottom: 20px;
    &__thumbnail{
      height: auto;
      background-color: $white;
      position: relative;
      img{
        max-width: 100%;
        height: auto;
      }
      .new-icon{
        font-size:0;
        position: absolute;/*絶対配置*/
        top: 0;
        right: 0;
        max-width: 15%;
      }
    }
    &__detail{
      height: auto;
      &__title{
        height: 50%;
        font-size: 1.5vw;
        font-weight: bold;
        padding-bottom: 20px;
        padding-left: 10px;
        border-bottom: 0px;
      }
      &__date-chef{
        height: 50%;
        vertical-align: middle;
        font-size: 1.3vw;
        .date{
          padding-left: 10px;
          float: left;
          color: $orange;
        }
        .chef{
          float: right;
          img{
            display: inline-block;
          }
        }
      }
    }
  }
}

/* smartphone.css.scss */
@media screen and (max-width: 640px){
  .v-list{
    @include clearfix();
    &__box{
      &__detail{
        &__title{
          font-size: 4vw;
        }
        &__date-chef{
          font-size: 3.5vw;
          .date{
            width: 45%;
          }
          .chef{
            width: 48%;
            text-align: right;
            img{
              display: inline-block;
              max-width: 15px;
              height: auto;
            }
          }
        }
      }
    }
  }
}
