.video__side{
  width: 280px;
  height: 650px;
  margin-left: 50px;
  float: left;
  &__title{
    margin-bottom: 10px;
    font-weight: bold;
    padding-left: 10px;
    border-bottom: 1px solid $gray;
  }
  &__recommend-list{
    height: 600px;
    overflow: scroll;
    border-bottom: 1px solid $gray;
  }
}

/* smartphone.css.scss */
@media screen and (max-width: 640px){
  .video__side{
    width: 95%;
    margin: 0 auto;
    margin-top: 100px;
    margin-bottom: 100px;
    float: none;
    height:auto;
    &__title{
      margin-top: 30px;
      margin-bottom: 30px;
      font-size: 40px;
      font-weight: bold;
      padding-left: 0px;
      text-align: center;
      height:auto;
    }
    &__recommend-list{
      height:auto;
      .v-list__box{
        float: none;
        margin: 0 auto;
        margin-bottom: 60px;
      }
    }
  }
}
