.video__side{
  background-color: $white;
  border-radius: 10px;
  padding: 10px;
  width: 30%;
  height: auto;
  float: right;
  &__title{
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: bold;
    padding-left: 10px;
    border-bottom: 1px solid $gray;
    h2{
      text-align: left;
    }
  }
  &__recommend-list{
    border-bottom: 1px solid $gray;
  }
}

/* smartphone.css.scss */
@media screen and (max-width: 930px){
  .video__side{
    width: 98%;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 100px;
    padding: 1%;
    float: none;
    height:auto;
    &__title{
      margin-top: 30px;
      margin-bottom: 30px;
      font-size: 20px;
      font-weight: bold;
      padding-left: 0px;
      text-align: center;
      height:auto;
    }
    &__recommend-list{
      height:auto;
      .v-list__box{
        float: none;
        margin: 0 auto;
        margin-bottom: 60px;
      }
    }
  }
}

@media screen and (max-width: 640px){
  .video__side{
    margin-top: 40px;
    &__title{
      margin-top: 10px;
      font-size: 15px;
      h2{
        text-align: center;
      }
    }
  }
}
