.v-search{
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 200px;
  padding:50px 5% 0 5%;
  border-radius: 10px;
  width: 85%;
  max-width: 1000px;
  &__title{
    margin: 0 auto;
    font-size: 25px;
    font-weight:bold;
    line-height: 35px;
    background: -moz-linear-gradient( left, $lightGray, $white);
    background: -webkit-linear-gradient( left, $lightGray, $white);
    background: linear-gradient( -135deg, $lightGray, $white);
    padding: 10px;
    text-align: center;
  }
  &__result{
    background-color: $white;
    border-radius: 10px;
    padding: 0px;
    margin: 0 auto;
    margin-top: 30px;
    padding-bottom: 100px;
    @include clearfix();
    &__recommend{
      padding-bottom: 50px;
    }
  }
}

/* smartphone.css.scss */
@media screen and (max-width: 640px){
  .v-search{
    margin-top: 10px;
    width: 98%;
    padding:50px 0 0 0;
    &__title{
      font-size: 5vw;
      padding: 10px 0 10px 0;
    }
    &__result{
      padding: 10px 0 100px 0;
    }
  }
}
