.a-list, .a-like-list{
  &__box{
    margin-top: 20px;
    position: relative;
    img{
      display: block;
      width: 100%;
      border-radius: 10px;
      box-shadow: 1px 2px 5px rgba(0,0,0,0.5);
    }
    &__text{
      position: absolute;/*絶対配置*/
      color: $white;/*文字は白に*/
      bottom: 0;
      left: 0;
      background: rgba(0,0,0,0.5);
      border-bottom-right-radius: 10px;
      border-bottom-left-radius: 10px;
      min-height: 33%;
      height: auto;
      width: 100%;
      p{
        padding-left: 5px;
        font-size: 17px;
      }
    }
    &__image{
      float: left;
    }
    &__content{
      float: left;
    }
    &:hover {
      border-radius: 10px;
      box-shadow: 4px 8px 20px rgba(0,0,0,0.1);
      opacity: 0.7;
    }
  }
}
.a-list{
  &__box{
    &__text{
      font-size: 18px;
    }
  }
}
.a-like-list{
  &__box{
    &__text{
      font-size: 15px;
    }
  }
}

/* smartphone.css.scss */
@media screen and (max-width: 920px){
  .a-like-list{
    @include clearfix();
    &__box{
      width: 25vw;
      float: left;
      margin-right: 3vw;
      img{
        width: 25vw;
        height: calc(25vw * 2 / 3);
      }
      &__text{
        width: 25vw;
        font-size: 13px;
      }
    }
  }
  .a-list{
    &__box{
      &__text{
        p{
          font-size: 13px;
        }
      }
    }
  }
}
@media screen and (max-width: 640px){
  .a-like-list{
    padding-top: 30px;
    &__box{
      float: none;
      width: 70vw;
      margin: 0 auto;
      margin-bottom: 30px;
      img{
        width: 70vw;
        height: calc(70vw * 2 / 3);
      }
      &__text{
        width: 70vw;
        p{
          font-size: 13px;
        }
      }
    }
  }
}
