.side-menu{
  &__popular-article{
    padding-top: 10px;
    margin-bottom: 30px;
    &__title{
      padding-bottom: 5px;
      border-bottom: 1px solid $dark;
      margin-bottom: 10px;
      font-weight: bold;
    }
    &__list{
      padding-left: 6%;
      padding-right: 6%;
      font-size: 14px;
    }
  }
  &__title{
    margin-top: 30px;
    border-bottom: 1px solid $dark;
    font-weight: bold;
  }
  &__genre-list{
    margin-top: 20px;
    padding-left: 20px;
    .genre__name{
      padding-bottom: 10px;
    }
  }
}
/* smartphone.css.scss */
@media screen and (max-width: 930px){
  .side-menu{
    float: none;
    width: 100%;
    margin: 0 auto;
    &__popular-article{
      padding-top: 10px;
      margin-bottom: 50px;
      &__title{
      }
      &__list{
        font-size: 14px;
      }
    }
    &__title{
    }
    &__genre-list{
      padding-left: 0;
      text-align: center;
      .genre__name{
        padding-bottom: 20px;
      }
    }
  }
}

@media screen and (max-width: 930px){
  .side-menu{
    &__genre-list{
      .genre__name{
        font-size: 13px;
      }
    }
  }
}
