.a-search-result__box{
  width: 90%;
  height: auto;
  background-color: $white;
  border-bottom: 1px solid $gray;
  margin: 0 auto;
  margin-top: 20px;
  padding-bottom: 20px;
  @include clearfix();
  &__image{
    float: left;
    width:30%;
    margin-right: 3%;
    img{
      max-width: 200px;
      width: 100%;
    }
  }
  &__detail{
    float: left;
    width:65%;
    height: auto;
    overflow: hidden;
    &__title{
      padding-bottom: 5px;

    }
    &__title{
      font-weight: bold;
      position: relative;
      padding-left: 3%;
      width: 97%;
      height: 40px;
      overflow: hidden;
      text-align: unset;
      margin-bottom: 10px;
    }
    &__title:before,
    &__title:after {
      position: absolute;  
      background: white;
    }
    &__title:before {
      content: "...";
      bottom: 0;
      right: 0;
    }
    &__title:after {
      content: "";
      height: 100%;
      width: 100%;
    }
    &__text{
      font-size: 15px;
      padding-left: 4%;
      position: relative;
      width: 96%;
      height: 70px;
      overflow: hidden;
      text-align: unset;
      word-wrap: break-word;
    }
    &__text:before,
    &__text:after {
      position: absolute;  
      background: white;
    }
    &__text:before {
      content: "...";
      bottom: 0;
      right: 0;
    }
    &__text:after {
      content: "";
      height: 100%;
      width: 100%;
    }
    &__sub-info{
      text-align: right;
      padding-top: 10px;
      .like{
        display: inline-block;
        border-right: 1px solid $gray;
        padding-right: 3%;
        color: $orange;
      }
      .date{
        display: inline-block;
      }
    }
  }
  &:hover{
    opacity: 0.7;
    a{
      color: $dark;
    }
  }
}

/* smartphone.css.scss */
@media screen and (max-width: 640px){
  .a-search-result__box{
    width: 97%;
    height: auto;
    background-color: $white;
    border-bottom: 1px solid $gray;
    margin: 0 auto;
    margin-top: 20px;
    padding-bottom: 20px;
    @include clearfix();
    &__image{
      float: left;
      width:35%;
      margin-right: 3%;
      img{
        width: 100%;
      }
    }
    &__detail{
      float: left;
      width:60%;
      height: auto;
      overflow: hidden;
      &__title{
        padding-bottom: 0px;
        font-size: 14px;
        word-break: break-all;
      }
      &__text{
        font-size: 12px;
        height: 55px;
      }
    }
  }
}
