.top-image{
  max-width: 500px;
  height: auto;
  background-color: $white;
  margin:0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
  position: relative;
  img{
    display: block;
    width: 100%;
  }
  .new-icon{
    font-size:0;
    position: absolute;/*絶対配置*/
    top: 0;
    right: 0;
    width: 15%;
    height: auto;
  }
  &__text{
    position: absolute;/*絶対配置*/
    color: $white;/*文字は白に*/
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.5);
    min-height: 33%;
    height: auto;
    width: 100%;
    font-size: 25px;
    p{
      padding-left: 5px;
    }
  }
}
.a-text{
  width: 90%;
  margin: 0 auto;
  &__share{
    text-align: right;
  }
  &__detail{
    padding-top: 50px;
  }
}

/* smartphone.css.scss */
@media screen and (max-width: 930px){
  .top-image{
    &__text{
      p{
        font-size: 2.7vw;
      }
    }
  }
}
@media screen and (max-width: 640px){
  .top-image{
    display: block;
    width: 95%;
    padding: 0px;
    img{
      width: 100%;
      height: auto;
    }
    &__text{
      p{
        font-size: 3.5vw;
        padding: 0px;
      }
    }
  }
  .a-text{
    width: 90%;
    margin: 0 auto;
    float: none;
  }
}
