.a-search-result__box{
  width: 90%;
  height: auto;
  background-color: $white;
  border-bottom: 1px solid $gray;
  margin: 0 auto;
  margin-top: 20px;
  padding-bottom: 20px;
  @include clearfix();
  &__image{
    float: left;
    width:30%;
    margin-right: 3%;
    img{
      max-width: 200px;
      width: 100%;
    }
  }
  &__detail{
    float: left;
    width:65%;
    height: auto;
    overflow: hidden;
    &__title{
      padding-bottom: 10px;
      font-size: 20px;
      font-weight: bold;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
      overflow: hidden;
    }
    &__text{
      font-size: 15px;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 3;
      overflow: hidden;
    }
    &__sub-info{
      text-align: right;
      padding-top: 10px;
      .like{
        display: inline-block;
        border-right: 1px solid $gray;
        padding-right: 3%;
        color: $orange;
      }
      .date{
        display: inline-block;
      }
    }
  }
  &:hover{
    opacity: 0.7;
    a{
      color: $dark;
    }
  }
}

/* smartphone.css.scss */
@media screen and (max-width: 640px){
  .a-search-result__box{
    width: 97%;
    height: auto;
    background-color: $white;
    border-bottom: 1px solid $gray;
    margin: 0 auto;
    margin-top: 20px;
    padding-bottom: 20px;
    @include clearfix();
    &__image{
      float: left;
      width:35%;
      margin-right: 3%;
      img{
        width: 100%;
      }
    }
    &__detail{
      float: left;
      width:60%;
      height: auto;
      overflow: hidden;
      &__title{
        padding-bottom: 0px;
        font-size: 15px;
        font-weight: bold;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        overflow: hidden;
      }
      &__text{
        font-size: 13px;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 4;
        overflow: hidden;
      }
    }
  }
}
