.a-text
  .a-text__share
    = render 'share/like-share'
  .a-text__detail
    %p
      豊かな四季があり、各地方の郷土色も明確と、日本とイタリアには共通点が多い。だからなのか、日本人はイタリア料理が好きだ。ただ、日本のイタリアンと本場のそれは似て非なるもの。独自の進化を遂げているといったらそれまでだが、グローバル化が進む昨今、本場との違いはちゃんと知っておきたい。<br><br><br>
    %p
      日本人の誤解１：「新鮮な魚のカルパッチョが本場っぽいでしょ！」<br>本場ベネチアでは生肉を使うのが正解で、鮮魚のカルパッチョはイタリアではあまり登場しない！「日本ではカルパッチョといえば魚が主流ですが、あれはもともとベネチアの牛肉料理なんですよ。『ハリーズ・バー』っていう店が発祥で、赤い生の薄切り牛肉を皿一面に敷き詰めた様子が、同じくベネチア出身のカルパッチョという名の画家が描く赤を基調とした絵に似ているということでカルパッチョと命名されたらしいです。今でこそイタリアでも魚のカルパッチョをちらほら見かけるようになりましたけど、やはり基本は牛肉です！」<br><br>
    %p
      日本人の誤解２：「食後のエスプレッソはブラックでしょ！」<br>生粋のイタリア人は砂糖をいっぱい入れて、甘くするのが常識！「日本のレストランだと食後にカフェラテやカプチーノを飲んだりしますが、イタリア人はエスプレッソしか飲みません！おなかいっぱいなところに、ミルクのこってり感は重いですからね。カフェラテやカプチーノは朝飲むもの。そしてイタリア人はエスプレッソに砂糖をこれでもかってぐらい入れます。日本だとブラックがかっこいいとされていますが、イタリアでは逆に砂糖を入れないほうがナンセンス。 苦みと甘みのバランスを楽しむのがエスプレッソの極意です」<br><br>
    %p
      日本人の誤解３：「トマトソースはイタリアンの要でしょ！」<br>イタリアといったらトマトだが、それが根付いたのは18世紀から！生粋のイタリア人は砂糖をいっぱい入れて、甘くするのが常識！「日本のレストランだと食後にカフェラテやカプチーノを飲んだりしますが、イタリア人はエスプレッソしか飲みません！おなかいっぱいなところに、ミルクのこってり感は重いですからね。カフェラテやカプチーノは朝飲むもの。そしてイタリア人はエスプレッソに砂糖をこれでもかってぐらい入れます。日本だとブラックがかっこいいとされていますが、イタリアでは逆に砂糖を入れないほうがナンセンス。 苦みと甘みのバランスを楽しむのがエスプレッソの極意です」<br><br>
    %p
      日本人の誤解３：「トマトソースはイタリアンの要でしょ！」<br>イタリアといったらトマトだが、それが根付いたのは18世紀から！生粋のイタリア人は砂糖をいっぱい入れて、甘くするのが常識！「日本のレストランだと食後にカフェラテやカプチーノを飲んだりしますが、イタリア人はエスプレッソしか飲みません！おなかいっぱいなところに、ミルクのこってり感は重いですからね。カフェラテやカプチーノは朝飲むもの。そしてイタリア人はエスプレッソに砂糖をこれでもかってぐらい入れます。日本だとブラックがかっこいいとされていますが、イタリアでは逆に砂糖を入れないほうがナンセンス。 苦みと甘みのバランスを楽しむのがエスプレッソの極意です」<br><br>
    %p
      日本人の誤解３：「トマトソースはイタリアンの要でしょ！」<br>イタリアといったらトマトだが、それが根付いたのは18世紀から！生粋のイタリア人は砂糖をいっぱい入れて、甘くするのが常識！「日本のレストランだと食後にカフェラテやカプチーノを飲んだりしますが、イタリア人はエスプレッソしか飲みません！おなかいっぱいなところに、ミルクのこってり感は重いですからね。カフェラテやカプチーノは朝飲むもの。そしてイタリア人はエスプレッソに砂糖をこれでもかってぐらい入れます。日本だとブラックがかっこいいとされていますが、イタリアでは逆に砂糖を入れないほうがナンセンス。 苦みと甘みのバランスを楽しむのがエスプレッソの極意です」<br><br><br>
