.top-image
  = image_tag "italian_article.png",size: "600x400", alt: "italian"
  .new-icon
    = image_tag "new.png",size: "80x80", alt: "fish"
  -if controller.action_name != 'show'
    .top-image__text
      %p
        = "本場イタリアでは通用しない！？\n日本のイタリアンが間違えている５つのこと"
