.article
  .article__search
    %h1
      記事一覧
  .article__search-result
    = render 'top-image', article: @newest_article
    = render 'share/search-header', result: @articles
    = render 'article_search_list'
  .article__side-menu
    = render 'side-menu'
