.article
  .article__search
    記事一覧
  .article__search-result
    = render 'top-image', article: @newest_article
    = render 'share/search-header'
    / .search-result__header.light-gray
    /   .search-result__header__search-word
    /     = "全"
    /     = "172件"
    /     = "の記事"
    /   .search-result__header__search-order
    /     = form_tag('#', method: :get ) do
    /       = select :order, :order, [["新着順", "new"],["人気順", "popular"]]
    = render 'article_search_list'
  .article__side-menu
    = render 'side-menu'
