.static
  .static__main-title
    %h3
      特定商取引法に基づく表示
  .static__title
    販売業者の名称
  .static__text
    株式会社レストランエデュケーション
  .static__title
    販売業者の住所
  .static__text
    〒170-0084
    %br
    東京都千代田区二番町7番地1 ミレミアムガーデンコート 1306
  .static__title
    運営統括責任者
  .static__text
    代表取締役 : 齋藤 義美
  .static__title
    お問い合わせ先
  .static__text
    = link_to(link_to new_contact_path) do
      お問い合わせ
    をご覧ください
  .static__title
    販売価格
  .static__text
    (1) 単品プラン：商品ごとに記載
    %br
    (2) 月額課金プラン：月額1,280円(税抜)
  .static__title
    サービス対価以外にお客様に発生する料金について
  .static__text
    %ul
      %li
        (1) PC、TV、ゲーム機、STBを利用する場合
        %ol
          %li
            PC、TV、ゲーム機、STBでインターネットをするために必要となる通信料、プロバイダ料金、その他インターネット利用のために必要となる料金
      %li
        (2) モバイル機器を利用する場合
        %ol
          %li
            電話回線を利用してストリーミングする際に発生するパケット通信料(発生するパケット通信料の料金は、お客様の契約形態により異なります)
  .static__title
    注文方法
  .static__text
    インターネット
  .static__title
    支払方法
  .static__text
    クレジットカード支払い
    %br
    %br
    一括支払いのみ可能となります。またお使いいただけるクレジットカードは以下になります。
    %br
    VISA / Master Card / American Express / Diners Club / Discover
  .static__title
    支払期限
  .static__text
    クレジットカードをご利用の場合、各社クレジットカードによる決済時期によります。
  .static__title
    返金・キャンセルについて
  .static__text
    サービスの特性上、返金・キャンセルは受け付けておりません。
  .static__title
    不良品の取扱条件
  .static__text
    商品がご利用できない場合は、お問い合わせフォームよりお問い合わせ下さい。


