.static
  .static__main-title
    %h3
      特定商取引法に基づく表示
  .static__title
    販売業者の名称
  .static__text
    株式会社レストランエデュケーション
  .static__title
    販売業者の住所
  .static__text
    〒102-0084
    %br
    東京都千代田区二番町7－1－1306
  .static__title
    責任者
  .static__text
    代表取締役 : 齋藤 義美
  .static__title
    代金の支払時期、支払い方法について
  .static__text
    月間契約：お申込み時に月間利用料を一括決済、翌月以降は初回決済日と同日に一括決済。
    %br
    支払方法は、クレジットカードのみ可能となります。
  .static__title
    利用料以外に発生する料金について
  .static__text
    当サイトの閲覧、お問い合わせ等の際の電子メールの送受信時などに、所定の通信料が発生します。
  .static__title
    サービス開始時期
  .static__text
    プレミアムプランについては有料登録後すぐに、その他の有料サービスについては当社所定の購入手続完了後すぐにご利用可能です。
  .static__title
    返品・キャンセルに関する特約
  .static__text
    電子商品としての性質上、返金には応じられません。
