.lp-container
  .media-wrap
    %iframe{:allow => "accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture", :allowfullscreen => "", :frameborder => "0", :height => "360", :src => "https://www.youtube.com/embed/OdZqdFoR5HI?autoplay=1&loop=1&playlist=OdZqdFoR5HI", :width => "640"}
  %div{:style => "text-align: center; margin-top:10px;"}
    %img.alignnone.wp-image-1702.size-medium{:alt => "", :height => "46", :src => "https://restaurant-education.co.jp/wp-content/uploads/2019/01/cook-300x46.png", :width => "300"}/
  %h1{:style => "font-size: 24px; font-weight: bold; text-align: center; color: #f39800;"}
    「ふぐ免許」試験対策の動画を無料公開中！
  %p
    ふぐ免許は難しい技術試験に合格する必要があります。
    %br/
    COOK LAB.のふぐ動画で、技術試験の準備をしましょう。
    %br/
    あなたの合格を徹底的にサポートします！
  %br/
  .btn-wrap
    %button.btn{:type => "button"} 無料で動画を見る
  %br/
  %br/
  %div{:style => "border: 0.5px solid #f39800;"}
  %br/
  %p
    こんにちは、COOK LAB.の齋藤義美（さいとう　よしみ）です。
    %br/
    %br/
    私は、東京のふぐ専門店で修行し、東京都のふぐ免許を取得しました。
    %br/
    難関と言われる実技試験に合格し、ふぐ免許を手にしたときはとても嬉しかったです。
    %br/
    %br/
    当時は、参考にする書籍も少なく試験対策に苦労しました。
    %br/
    COOK LAB.は、プロの料理人向けの料理動画サービスで、ふぐ免許対策に使える動画が充実しています。
    %br/
    %br/
    プロ仕様の料理動画は、現場で実践するための料理動画がほとんどです。
    %br/
    ふぐ免許の取得から、応用技術の習得まで、料理人として活躍するあなたのためのサービスです。
    %br/
    %br/
    ふぐ免許対策の動画が無料で視聴いただけます。
    %br/
    %br/
    さあ、はじめましょう！
    %br/
  %br/
  .btn-wrap
    %button.btn{:type => "button"} 無料で動画を見る
  %br/
  %br/
  %div{:style => "border: 0.5px solid #f39800;"}
  %br/
  / ラインアップ
  %h2
  %p.title-text
    %img.title-img{:alt => "", :height => "100", :src => "https://restaurant-education.co.jp/wp-content/uploads/2019/03/006d059cf64b3e9f6a410feee9e68e55.jpg", :width => "100"}>/
    　ラインアップ
  %p ふぐ免許の技術試験に合格するためには、下記４つを習得する必要があります。
   
  %div
    %div{:style => "float: left; margin-right: 10px; width: 320px;"}
      %ul.list
        %li 　ふぐの身欠き
        %li 　ふぐの薄造り（菊盛り）
        %li 　皮引き
        %li 　臓器鑑別
    %div{:class => "width:100%;"}
      %img{:alt => "", :height => "200", :src => "https://restaurant-education.co.jp/wp-content/uploads/2019/01/80443f0b01a455857c28bd4970322041-300x200.jpg", :width => "300"}/
    %div{:style => "clear: both;"}
   
  %p
    これら全てを動画で学ぶことができます。
    %br/
    また、ふぐ免許を取得した後も、応用技術を学んでレベルアップいただける充実のラインアップです。
  .cook-img{:style => "margin-right: 10px;"}
    %h5
      %i.fas.fa-play>
      　ふぐの身欠き
    %img{:alt => "", :height => "168", :src => "https://restaurant-education.co.jp/wp-content/uploads/2019/03/7c46174a74f5d35bdfd04c377f8f3209-300x168.jpg", :width => "300"}/
    %p.mini-text 皮を剥いだ「とらふぐ」の、「カマ」と「内臓」を切り離す工程です。包丁を入れるポイントが、動画と文章によりわかりやすく解説されています。
  .cook-img
    %h5
      %i.fas.fa-play>
      　ふぐの薄造り　菊盛り
    %img{:alt => "", :height => "168", :src => "https://restaurant-education.co.jp/wp-content/uploads/2019/03/f983c1dfac018fd89c3fca5f1bb89629-300x168.jpg", :width => "300"}/
    %p.mini-text 刺身用に仕込んで熟成させた「とらふぐ」を、菊盛りにしているところです。左手の指使いが、動画により直感的に理解できます。
  %div{:style => "clear: both;"}
   
  .cook-img{:style => "margin-right: 10px;"}
    %h5
      %i.fas.fa-play>
      　ふぐの皮引き
    %img{:alt => "", :height => "169", :src => "https://restaurant-education.co.jp/wp-content/uploads/2019/03/58d5863b70f0275c4edacd6fe049a671-300x169.jpg", :width => "300"}/
    %p.mini-text 「とらふぐ」の仕込みの中でも難易度の高い皮引きをしている様子です。包丁の動かし方が動画によって直感的に理解できます。
  .cook-img
    %h5
      %i.fas.fa-play>
      　ふぐの臓器鑑別
    %img{:alt => "", :height => "169", :src => "https://restaurant-education.co.jp/wp-content/uploads/2019/03/11b639cef0ee8605957add7c9dda0925-300x169.jpg", :width => "300"}/
    %p.mini-text ふぐ免許の実技試験で重要な臓器鑑別です。臓器を分離する方法も、動画によってわかりやすく解説されています。
  %div{:style => "clear: both;"}
  %br/
  %div{:style => "border: 0.5px solid #f39800;"}
  %br/
  .cook-img{:style => "margin-right: 10px;"}
    %h5
      %i.fas.fa-play>
      　焼きふぐ
    %img{:alt => "", :height => "169", :src => "https://restaurant-education.co.jp/wp-content/uploads/2019/03/86067d8956f7618e375607531a55a6a2-300x169.jpg", :width => "300"}/
    %p.mini-text 「とらふぐ」を炭火で焼き上げているところです。コース料理で人気の焼きふぐを、仕込みから味付け、提供までを動画で解説しています。
  .cook-img
    %h5
      %i.fas.fa-play>
      　ふぐ白子の天ぷら
    %img{:alt => "", :height => "169", :src => "https://restaurant-education.co.jp/wp-content/uploads/2019/03/23c64978b1c4161a02d408b966ad5fb6-300x169.jpg", :width => "300"}/
    %p.mini-text 旬の白子を天ぷらにして、盛り付けをしているところです。天ぷらのポイントである温度感が動画で伝わります。
  %div{:style => "clear: both;"}
  %br/
  %ul.list
    %li 　ふぐちり
    %li 　ふぐの白子焼き
    %li 　ふぐの白子茶碗蒸し
    %li 　ふぐの煮凝り
    %li 　ふぐの皮刺し
    %li 　ひれ酒
    %li 　ふぐ白子酒
  %br/
  %p.bold-text 気になるふぐ料理の基本は網羅されています。
  %br/
  .btn-wrap
    %button.btn{:type => "button"} 無料で動画を見る
  %br/
  %br/
  %div{:style => "border: 0.5px solid #f39800;"}
  %br/
  / ふぐ菊盛り
  %h2
  %p.title-text
    %img.title-img{:alt => "", :height => "100", :src => "https://restaurant-education.co.jp/wp-content/uploads/2019/03/b31945485983fae17be225a2d8849e30.jpg", :width => "100"}>/
    　鶴が舞う
  %br/
  %h2 ふぐは菊盛りだけじゃない！
  %p
    ふぐの薄造りは菊盛りが一般的ですが、もう一歩踏み込んでお客様を魅了しましょう。
    %br/
    菊盛りの次は、ぜひ「鶴盛り」をマスターしてください！
    %br/
  %p.bold-text お客様の歓声がそこに！
  %br/
  %h5
    %i.fas.fa-play>
    　ふぐの鶴造りの一部　オリジナルは驚きの４０分間
  .media-wrap
    %iframe{:allow => "accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture", :allowfullscreen => "", :frameborder => "0", :height => "360", :src => "https://www.youtube.com/embed/OdZqdFoR5HI?loop=1&playlist=OdZqdFoR5HI", :width => "640"}
  %br/
  %p 一枚一枚、薄造りを引いては盛り付ける、一連の所作をしっかりと確認いただけます。
  %h2.bold-text 動画なのでわかりやすい！
  %p
    薄造りのエッジを立てる繊細な指使いも、細部までご覧いただけます。
    %br/
    まるで調理場で見ているような臨場感を体験いただけます。
  %br/
  .cook-img{:style => "margin-right: 10px;"}
    %h5
      %i.fas.fa-play>
      　完成したふぐの鶴盛り
    %img{:alt => "", :height => "169", :src => "https://restaurant-education.co.jp/wp-content/uploads/2019/03/b31945485983fae17be225a2d8849e30-1-300x169.jpg", :width => "300"}/
    %p.mini-text 盛り付けが完了した「ふぐの鶴盛り」です。仕込みから完成に至るまで、全てを動画で学んでいただけます。
  .cook-img
    %h5
      %i.fas.fa-play>
      　鶴の首を描く工程
    %img{:alt => "", :height => "169", :src => "https://restaurant-education.co.jp/wp-content/uploads/2019/03/df428340184dceb8f82fbd198d2968e9-300x169.jpg", :width => "300"}/
    %p.mini-text 両翼を描いた後で、胴体から首を作っています。生きているような鶴に仕上げるためのポイントが理解できます。
  %div{:style => "clear: both;"}
  %br/
  %p.bold-text{:style => "font-size: 20pt; text-align: center;"} さあ、お客様に感動を！
  %br/
  .btn-wrap
    %button.btn{:type => "button"} 無料で動画を見る
  %br/
  %br/
  %div{:style => "border: 0.5px solid #f39800;"}
  / 自己紹介
  %h2
  %p.title-text
    %img.title-img{:alt => "", :height => "96", :src => "https://restaurant-education.co.jp/wp-content/uploads/2019/03/6a34f5887fcc088d50c00a261a665160.png", :width => "96"}>/
    　自己紹介
  %h2.bold-text COOK LAB.は料理人のための動画サービスです
  %br/
  .media-wrap
    %iframe{:allow => "accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture", :allowfullscreen => "", :frameborder => "0", :height => "360", :src => "https://www.youtube.com/embed/OdZqdFoR5HI?loop=1&playlist=OdZqdFoR5HI", :width => "640"}
  %p あなたが下記に一つでも該当するなら、COOK LAB.はきっとお役に立てるはずです。
  %ul.list
    %li 過去、料理の基礎をしっかりと学ぶことができなかった
    %li 惰性的に料理専門書を読んでいる
    %li メニューのアイディアが欲しい
    %li 他ジャンルを取り入れたい
    %li もっと腕を上げたい
    %li 主婦向けのレシピサイトじゃ物足りない
  %br/
  .media-wrap
    %img{:alt => "", :height => "396", :src => "https://restaurant-education.co.jp/wp-content/uploads/2019/03/0bb36e17aa75bdb7bd14b48cce8e27b1-1024x634.png", :width => "640"}/
  %br/
  %br/
  %p
    COOK LAB.は、日本料理だけでなく多様なジャンルの料理動画を、基礎から応用まで幅広く揃えています。
    %br/
    動画によって調理中の重要なポイントがわかりやすく、まるで修行を疑似体験しているようです。
  %br/
  .cook-img{:style => "margin-right: 10px;"}
    %h5
      %i.fas.fa-play>
      　冷製ガスパチョのカッペリーニ
    %img{:alt => "", :height => "169", :src => "https://restaurant-education.co.jp/wp-content/uploads/2019/03/cd59919b9c6c13358ff2c17cf7747d8c-300x169.jpg", :width => "300"}/
    %p.mini-text 冷製ガスパチョを、カッペリーニと合わせました。チェリートマトやパプリカを彩りよく盛り付け、エディブルフラワーで華やかに仕上げています。
  .cook-img
    %h5
      %i.fas.fa-play>
      　フォン・ド・オマールの調理過程
    %img{:alt => "", :height => "169", :src => "https://restaurant-education.co.jp/wp-content/uploads/2019/03/a599f8642d05a9e7aa435ecf0d6f347e-300x169.jpg", :width => "300"}/
    %p.mini-text ブーケガルニ等と一緒に煮出したオマール海老のエキスを、シノワの中で殻を叩き潰し抽出する重要な工程です。隣で見ているような臨場感が伝わります。
  %div{:style => "clear: both;"}
  %br/
  %p.bold-text 基礎も応用も、技術のポイントが動画でわかりやすい
  %p
    COOK LAB.は、レシピも重要ですが、調理工程が最も大切と考えています。
    %br/
    レシピがあっても、その品質を実現するには正しい調理工程が不可欠だからです。
  .btn-wrap
    %button.btn{:type => "button"} 無料で動画を見る
  %br/
  %h2.bold-text 料理は基礎が大切
  %p{:style => "font-weight: bold;"} 「もう少し基礎をしっかりやっておけば良かった。」
  %p
    私は、修行の途中で自分の基礎不足を強く感じ、一からやり直した経験があります。
    %br/
    しかし、やり直しはかなり難しいというのが現実です。
  %ul.list
    %li 基礎の下積み時期は給料が安い
    %li 家庭があり、やり直すことなどできない
    %li 脱サラしてお店を出すが、基礎などやっていられない
  %br/
  %p.bold-text COOK LAB.なら今からでも大丈夫！
  %br/
  .cook-img{:style => "margin-right: 10px;"}
    %h5
      %i.fas.fa-play>
      　フォン・ド・ボーの調理過程
    %img{:alt => "", :height => "169", :src => "https://restaurant-education.co.jp/wp-content/uploads/2019/03/fd72e0a8097251782b3d06308fa7cf4a-300x169.jpg", :width => "300"}/
    %p.mini-text 牛骨をベースに、牛すじを加えて旨味を補強し、時間をかけてエキスを煮出していく工程です。動画を見ることで、仕込み過程が直感的に理解できます。
  .cook-img
    %h5
      %i.fas.fa-play>
      　黄身酒盗の調理過程
    %img{:alt => "", :height => "169", :src => "https://restaurant-education.co.jp/wp-content/uploads/2019/03/30e999aad0462d3cc5851b096cc5c55a-300x169.jpg", :width => "300"}/
    %p.mini-text 日本酒で酒盗を煮とかした「酒盗汁」に卵黄を加え、湯煎で火を入れて裏漉している様子です。滑らかさを出すポイントを、動画で解説しています。
  %div{:style => "clear: both;"}
  %br/
  %h2.bold-text 基礎の動画が揃ってます
  %p
    今やフォン・ド・ボーは缶詰で、日本料理の出汁は出汁パックで、簡単にとれてしまう世の中です。
    %br/
    基礎を経験するのが難しくなっていると感じませんか？
    %br/
  %p.bold-text COOK LAB.なら、貴重になった基礎を身につけることができます。
  %br/
  %p
    旅館などで大量調理をする場合は、既成品や半製品を使用するのも正しい選択だと思います。
    %br/
    私は、その場合でも「本物を知っていること」が大切だと考えています。
    %br/
    %br/
    既成品や半製品で料理をする時、本当の仕上りがイメージできているかが重要です。
    %br/
    COOK LAB.は、あなたの料理人生を変えるサービスです。
    %br/
    %br/
    ただし・・・
  .not-space
    %div
      %p 手 軽
      %img{:alt => "", :height => "120", :src => "https://restaurant-education.co.jp/wp-content/uploads/2019/03/3ca9081ae0d26b189bbc87d6e61139c2.png", :width => "120"}/
    %div
    %div
      %p 簡 単
      %img{:alt => "", :height => "120", :src => "https://restaurant-education.co.jp/wp-content/uploads/2019/03/3ca9081ae0d26b189bbc87d6e61139c2.png", :width => "120"}/
  %div
    %p.bold-text{:style => "color: black; text-align: center;"} 期待しないでください
    %p.bold-text{:style => "text-align: center;"} さあ、はじめましょう！
  %br/
  .btn-wrap
    %button.btn{:type => "button"} 無料で動画を見る
  %br/
  %br/
  .media-wrap
    %img{:alt => "", :height => "256", :src => "https://restaurant-education.co.jp/wp-content/uploads/2019/03/6b23f00c028738af6fa0bc4fc4bc501d.jpg", :width => "640"}/
