.static
  .static__main-title
    %h3
      よくあるご質問
  .static__title
    Q.アカウント作成により料金は発生しませんか？
  .static__text
    無料アカウントでの利用範囲内においては料金の発生はありません。
    %br
    ただし、有料プランでの利用時および有料コンテンツ購入時には料金が発生します。
  .static__title
    Q.勝手に有料プランに登録される事はありませんか？
  .static__text
    利用者の承諾なしに有料プランに登録することはありません。安心してご利用ください。
