.light-gray{
  background: -moz-linear-gradient( left, $lightGray, $white);
  background: -webkit-linear-gradient( left, $lightGray, $white);
  background: linear-gradient(-135deg, $lightGray, $white);
}
