.header{
  border-bottom: 1px solid $gray;
  background-color: $white;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 5;
  height: 48px;
  box-shadow: 0px 1px 3px rgba(0,0,0,0.5);
  &__logo{
    float: left;
    background-color: $white;
    border-radius: 15px;
    width:220px;
    height:36px;
    margin: 2px 0px;
    padding-left: 10px;
    text-align: center;
    -webkit-tap-highlight-color:rgba(0,0,0,0);
  }
  &__search{
    float: left;
    width:330px;
    height:40px;
  }
  &__search-icon{
    float: right;
    margin-top:5px;
    background-color: $lightGray;
    height: 40px;
    width: 40px;
    border-radius: 20px;
    text-align: center;
    line-height: 40px;
    padding-left: 2px;
  }
  &__search-close-icon{
    display: none;
    float: right;
    display: none;
    margin-top:5px;
    background-color: $lightGray;
    height: 40px;
    width: 40px;
    border-radius: 20px;
    text-align: center;
    line-height: 40px;
    padding-left: 2px;
  }
  &__menu{
    width: 260px;
    margin-right: 20px;
    float: right;
    ul{
      right: 0;
      padding-top: 0px;
      li {
        list-style: none;
        float: right;
        text-align: right;
        line-height: 48px;
        margin-left: 20px;
        img{
          width: 14px;
          height: 14px;
          // visibility: hidden;
        }
        .new-btn{
          display: inline-block;
          border-radius: 5px;
          border:1px solid $lightGray;
          line-height: 30px;
          padding-left: 5px;
          padding-right: 5px;
          background-color: $orange;
          color: $white;
          -webkit-tap-highlight-color:rgba(0,0,0,0);
          letter-spacing: 0px;
        }
      }
    }
  }
}

/* smartphone.css.scss */
@media screen and (max-width: 1120px){
  .header{
    z-index: 1000;
  }
  #navToggle{
    display:block;
  }
  .openNav{
    #navToggle span:nth-child(1) {
      top: 10px;
      -webkit-transform:rotate(-45deg);
      -moz-transform:rotate(-45deg);
      transform:rotate(-45deg);
    }
    #navToggle span:nth-child(2),
    #navToggle span:nth-child(3) {
      top: 10px;
      -webkit-transform:rotate(45deg);
      -moz-transform:rotate(45deg);
      transform:rotate(45deg);
    }
    nav{
      -moz-transform: translateY(950px);
      -webkit-transform: translateY(950px);
      transform: translateY(950px);
      padding-left: 10%;
      background-color: $white;
      li{
        width: 100%;
        height: auto;
        line-height: 50px;
        border-bottom: 1px solid $gray;
        text-align: left;
        font-size: 20px;
        img{
          width: 20px;
          height: 20px;
          visibility: visible;
        }
      }
    }
  }
}

/* smartphone.css.scss */
@media screen and (max-width: 640px){
  .header{
    height: 40px;
    &__menu{
      display: none;
    }
    &__logo{
      float: none;
      width:190px;
      padding: 0px;
      line-height: 60px;
      margin: 0 auto;
      img{
        width:95%;
        height: auto;
      }
    }
    &__search-icon{
      display: none;
    }
  }
}

