.search__header{
  width: 100%;
  padding:5px;
  padding-left: 3%;
  min-height: 30px;
  margin-bottom: 50px;
  @include clearfix();
  position: relative;
  font-size: 20px;
  line-height: 40px;
  text-align: left;
  &__word{
    float: left;
    width: 70%;
    .total-hit-count{
      display: inline;
      background-color: $white;
      font-weight: normal;
      padding: 0 2%;
      height: 20px;
      border-radius: 10px;
      border: 2px solid $gray;
      text-align: center;
    }
  }
  &__order{
    float: right;
    width: 120px;
    text-align: right;
    select{
      width: 90%;
      height: 35px;
      padding-left: 10px;
      cursor: pointer;
      text-overflow: ellipsis;
      font-size: 15px;
      color: $dark;
      border: none;
      vertical-align: top;
      box-shadow: 1px 2px 5px rgba(0,0,0,0.3);
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      background-color: $white;
    }
    &::after {
      content: '';
      width: 7px;
      height: 7px;
      border: 0px;
      border-bottom: solid 2px #b4b3b3;
      border-right: solid 2px #b4b3b3;
      -ms-transform: rotate(45deg);
      -webkit-transform: rotate(45deg);
      transform: rotate(45deg);
      position: absolute;
      right: 20px;
      top:15px;
    }
  }
}

/* smartphone.css.scss */
@media screen and (max-width: 930px){
  .search__header{
    border-radius: 5px;
    padding-left: 1%;
    margin: 0 auto;
    &__word{
      width: 100%;
      span{
        display: inline-block;
        width: 100%;
        text-align: left;
      }
    }
    &__order{
      float: none;
      text-align: center;
      padding-right: 10px;
    }
    select{
      width: 15%;
      position: absolute;
      right: 1%;
    }
  }
}
@media screen and (max-width: 640px){
  .search__header{
    width: 96%;
    padding-left: 1%;
    font-size: 17px;
    select{
      width: 20%;
      min-width: 90px;
      font-size: 13px;
    }
  }
}

