.search-window{
  padding-top: 20px;
  padding-bottom: 70px;
  text-align: center;
  .search-form{
    position:relative;
    max-width:400px;
    width: 100%;
    margin: 0 auto;
    margin-bottom:20px;
    .s-window{
      height:50px;
      padding:0 10px;
      position:absolute;
      left:0;
      top:0;
      border-radius:2px;
      outline:0;
      background: $lightGray;
      width: 90%;
      max-width:400px;
      border:none;
    }
    .s-submit{
      height:50px;
      position:absolute;
      right: 5px;/*アイコン左右の位置調整*/
      top:10;
      color:#666;
      border:none;
      background: $lightGray;
      font-size:20px;/*アイコンサイズ*/
    }
    .submit-button:hover{
      color:#7fbfff;
    }
  }
}

/* smartphone.css.scss */
@media screen and (max-width: 640px){
  .s-window, .s-submit{
      height: 30px;
  }
}
