.static{
  width: 95%;
  max-width: 800px;
  margin: 0 auto;
  padding: 100px 0;
  &__main-title{
    border-bottom: 1px solid $gray;
    h3{
      font-size: 20px;
      font-weight: bold;
    }
  }
  &__main-text{
    padding-top: 20px;
  }
  &__title{
    font-size: 17px;
    padding-top: 20px;
    font-weight: bold;
  }
  &__text{
    padding: 20px 0 20px 10px;
    ol{
      font-size: 14px;
      padding: 20px 0 20px 30px;
      list-style-type: decimal;
      ul{
        padding: 20px 0 20px 30px;
        list-style-type: circle;
      }
    }
    ul{
      ol{
        li{
          list-style: none;
        }
      }
    }
  }
}

/* smartphone.css.scss */
@media screen and (max-width: 640px){
  .static{
    width: 90%;
    &__main-text{
      font-size: 13px;
    }
    &__title{
      font-size: 14px;
    }
    &__text{
      font-size: 13px;
      ol{
         font-size: 13px;
      }
    }
  }
}
