body{
  padding-top: 50px;
  background-color: $white;
}

html{
  height: 100%;
  overflow-y: scroll;
  text-align: justify;
  text-justify: inter-ideograph;
}

h1,h2,h3,h4,h5,h6,body {
  line-height: 1.57;
  color: $dark;
  font-family: 'Unica One', "Avenir", "游ゴシック", "YuGothic", "ヒラギノ角ゴ Pro W6", "HIragino Kaku Gothic Pro W6", "HIragino Kaku Gothic Pro", Osaka, Meiryo, "メイリオ", "ＭＳ Ｐゴシック", "MS P Gothic", sans-serif;
  margin: 0;
}

a {
  outline:none;
  text-decoration: none;
  margin-left: 0px;
  color: $dark;
  -webkit-tap-highlight-color:rgba(0,0,0,0);
}

.a_link{
  a{
    color: $a-tag;
    text-decoration: underline;
  }
}

.sp-only{
  display: none;
}

.font-bold{
  font-weight: bold;
}

.font-normal{
  font-weight: normal;
}

/* smartphone.css.scss */
@media screen and (max-width: 930px){
  .sp-only{
    display: block;
  }
  .pc-only{
    display: none;
  }
}
@media screen and (max-width: 640px){
  input{
    font-size:16px;
  }
  select {
    font-size:16px;
  }
}
