- set_meta_tags noindex: true
.pay-frame
  .pay-frame__title
    カード情報の変更
  .pay-frame__select
    - if check_pay_regi_status != 0 && @card_registration_restrict_check != 'lock'
      %p
        %b
          決済カードを変更する方は、
          %br/
          カード情報を入力し
          %br/
          登録ボタンを押下してください。
          %br/
          %span.error_alert
            (※自動入力を利用するとエラーが発生する可能性があります)
      = form_tag(action: :card_change, method: :post, id: "payjp-form") do
        = javascript_include_tag "https://js.pay.jp"
        .payjp
          = render 'card-form'
          %button{ id: "token" }
            登録
    - elsif @card_registration_eternal_restrict_check == 'lock'
      %p
        %b
          20回連続で入力情報にエラーがあったため
          %br/
          ロックがかかっています。
          %br/
          カード情報を登録することは
          %br/
          できません。
          %br/
          詳しくはサイト管理者に
          %br/
          お問い合わせください。
    - elsif @card_registration_restrict_check == 'lock'
      %p
        %b
          現在ロックがかかっているため
          %br/
          カード情報を登録することは
          %br/
          できません。
          %br/
          １時間後に再度アクセスしてください。
  .pay-frame__back
    = link_to "◀︎戻る", user_my_page_path('pay_info')
