.a-create{
  max-width: 1100px;
  width: 85%;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 150px;
  border-radius: 10px;
  padding-bottom: 1%;
  &__title{
    font-size: 25px;
    font-weight:bold;
    line-height: 35px;
    text-align: center;
    padding: 1% 0;
    background: -moz-linear-gradient( left, $lightGray, $white);
    background: -webkit-linear-gradient( left, $lightGray, $white);
    background: linear-gradient( -135deg, $lightGray, $white);
    margin-bottom: 20px;
    img{
      vertical-align: top;
    }
  }
  &__select{
    margin: 0 auto;
    padding: 1%;
    width: 98%;
    text-align: center;
    background-color: $white;
    border-radius: 10px;
    @include clearfix();
    &__box{
      float: left;
      width: 50%;
      p{
        text-align: left;
      }
      &__plan{
        border-radius: 10px;
        padding: 3%;
        table{
          margin-left: auto;
          margin-right: auto;
          background-color: $white;
        }
        th{
          background-color: $gray;
          color: $white;
          opacity: 0.8;
          font-weight: bold;
        }
        th, td{
          width: 200px;
          height: 50px;
          border: 3px solid $white;
          padding-left: 5px;
          text-align: center;
        }
        span{
          font-size: 18px;
          font-weight: bold;
        }
        table th:nth-child(3){
          background-color: $orange;
          opacity: 1;
        }
        table tr:nth-child(odd){
          background: $lightGray;
        }
      }
    }
  }
}

/* smartphone.css.scss */
@media screen and (max-width: 930px){
  .a-create{
    width: 90%;
    &__title{
      font-size: 3vw;
    }
    &__select{
      margin: 0 auto;
      padding-bottom: 50px;
      text-align: center;
      font-size: 2vw;
      &__box{
        float: none;
        width: 95%;
        margin: 0 auto;
        margin-bottom: 20px;
        &__plan{
          padding: 0;
        }
      }
    }
  }
}
@media screen and (max-width: 640px){
  .a-create{
    width: 95%;
    &__title{
      font-size: 4.5vw;
    }
    &__select{
      font-size: 3vw;
    }
  }
}
