.my-page{
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 100px;
  border-radius: 10px;
  padding: 30px 5%;
  width: 90%;
  max-width: 1100px;
  @include clearfix();
  &__title{
    padding: 10px;
    font-size: 25px;
    font-weight:bold;
    line-height: 35px;
    background: -moz-linear-gradient( left, $lightGray, $white);
    background: -webkit-linear-gradient( left, $lightGray, $white);
    background: linear-gradient( -135deg, $lightGray, $white);
    margin-bottom: 30px;
    text-align: center;
    img{
      vertical-align: top;
    }
  }
  &__menu{
    padding: 50px 10px;
    float: left;
    width: 24%;
    background-color: $white;
    border-radius: 10px;
    margin-right: 3%;
    li{
      height: 50px;
      border-bottom: 1px solid $gray;
      line-height: 50px;
      padding-left: 5%;
      @include clearfix();
      .left{
        float: left;
      }
      .right{
        float: right;
        color: $gray;
      }
    }
    .selected{
      background: -moz-linear-gradient(right, $orange, $white);
      background: -webkit-linear-gradient(right, $orange, $white);
      background: linear-gradient(135deg, $orange, $white);
      color: $white;
    }
  }
  &__content{
    padding: 10px;
    padding-top: 30px;
    float: right;
    width: 67%;
    background-color: $white;
    border-radius: 10px;
    &__box{
      margin: 0 auto;
      &__title{
        font-size: 20px;
        font-weight:bold;
        line-height: 23px;
        padding: 2%;
        vertical-align: top;
        img{
          vertical-align: top;
        }
        border-bottom:1px solid $gray;
      }
      &__detail{
        margin: 50px 0px;
        padding-left: 20px;
        @include clearfix();
        .basic-info{
          width: 42%;
          float: left;
          height: 50px;
        }
        .user-info{
          float: right;
          width: 58%;
          height: 50px;
          font-weight: bold;
        }
      }
      &__magazine-address{
        margin: 50px 0px;
        padding-left: 20px;
        @include clearfix();
        .box{
          height: 70px;
          .title{
            width: 42%;
            float: left;
            height: 50px;
          }
          .info{
            float: right;
            width: 58%;
            height: 50px;
            line-height: 50px;
            font-weight: bold;
          }
        }
        .alert{
          display: block;
          color: red;
          border-radius: 10px;
          background-color: $lightGrayishOrange;
          padding: 0 10px;
          a{
            color: $cyan-blue;
            text-decoration: underline
          }
        }
      }
    }
    .edit-btn{
      margin-top: 20px;
      font-weight: normal;
      font-size: 15px;
      float: right;
      color: $cyan-blue;
    }
  }
}

/* smartphone.css.scss */
@media screen and (max-width: 930px){
  .my-page{
    &__menu{
      display: none;
    }
    &__content{
      width: 98%;
      padding: 2% 1%;
    }
  }
}
@media screen and (max-width: 640px){
  .my-page{
    margin-top: 10px;
    width: 98%;
    padding: 30px 0%;
    &__title{
      font-size: 20px;
    }
    &__content{
      &__box{
        &__title{
          font-size: 15px;
          // padding: 1%;
        }
        &__detail{
          font-size: 15px;
          padding-left: 0px;
          .basic-info{
            width: 100%;
            float: none;
            text-align: center;
            height: 20px;
            padding-bottom: 20px;
            text-decoration-line: underline;
          }
          .user-info{
            float: none;
            width: 100%;
            text-align: center;
            height: 30px;
            padding-bottom: 20px;
          }
        }
        &__magazine-address{
          font-size: 15px;
          padding-left: 0px;
          .box{
            height: 130px;
            .title{
              width: 100%;
              float: none;
              text-align: center;
              height: 20px;
              padding-bottom: 20px;
              text-decoration-line: underline;
            }
            .info{
              float: none;
              width: 100%;
              margin-top: 30px;
              text-align: center;
              height: 30px;
              line-height: 30px;
              padding-bottom: 20px;
            }
          }
          .alert{
            text-align: center;
          }
        }
      }
    }
  }
}
