.notification{
  padding-left:30px;
  height: 350px;
  overflow: scroll;
  &__date{
    font-style: oblique;
  }
  &__title{
    font-weight: bold;
    color: $blue;
    text-decoration: underline;
  }
  &__content{
    padding-left: 10px;
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid $gray;
  }
}
.notification::-webkit-scrollbar {
  display: none;
}

.unread-alart{
  color: $red;
  font-weight: bold;
}
/* smartphone.css.scss */
@media screen and (max-width: 640px){
  .notification{
    height: auto;
    overflow: scroll;
  }
}
