%script{ :async => "", :src => "https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js" }
:javascript
	(adsbygoogle = window.adsbygoogle || []).push({google_ad_client: "ca-pub-7040496109287951",enable_page_level_ads: true});
